# Идентификация функции приспособленности с использованием нейронных сетей

### План проекта

**To Do**

Роврвоы $x^i$
$$
R = \int\limits_0^1 \alpha E(x)\,dt - \int\limits_0^1 \beta (x')^2\,dt + \int\limits_0^1 \gamma S_x(x) (cos(2\pi t) + 1)\,dt  - \int\limits_0^1 \delta G(x)\,dt 
$$
$$
M_1 = \int\limits_0^1 E(x)\,dt = \int\limits_0^1 \delta_1(x+C)\,dt \\
M_2 =  - \int\limits_0^1 S_x(x) (cos(2\pi t) + 1)\,dt = - \int\limits_0^1  \delta_2(x+C)(cos(2\pi t) + 1)\,dt \\
M_3 = -\int\limits_0^1 (x')^2\,dt \\
M_4 = -\int\limits_0^1 G(x)\,dt = - \int\limits_0^1 (x + C_0)^2\,dt \\
$$

$ x = A + Bcos(2\pi t);$  $-C < x < 0$, где $C > 0 => -C < A + Bcos(2\pi t) < 0 $ 
Очевидно $A < 0$, $A - |B| > -C; A + |B| < 0$

$$
M_1 = \delta_1 (A+C) \\
M_2 = -\delta_2 (A + C + \frac{B}{2}) \\
M_3 = -\frac{(2\pi)^2 B^2}{2}\\
M_4 = -((A + C_0)^2 + \frac{B^2}{2})
$$

$$
\lambda_0 = \delta_1 \alpha = 0.1 \\
\lambda_1 = -\delta_2 \gamma = -1 \\
\lambda_2 = -\delta = -0.1 \\
\lambda_3 = -\beta = -0.000025
$$
$$R = \lambda_0  (A + C) + \lambda_1  (A + C + \frac{B}{2}) +  \lambda_2  \frac{(2\pi)^2 B^2}{2} + \lambda_3  ((A + C_0)^2 + \frac{B^2}{2}) = \lambda_0 F_0 + \lambda_1 F_1 + \lambda_2 F_2 + \lambda_3 F_3$$

### Генерация обучающей выборки

Зададим коэффициенты $\lambda$ и опишем функцию $R$

In [15]:
a = []
lam = [0.0003, -0.003, -0.0003, -0.000000075]
C0 = 60
C = 140

Напишем функции $F_0, F_1, F_2, F_3$

In [3]:
import numpy as np

def F0(A, B, C, C0):
    return A + C

def F1(A, B, C, C0):
    return A + C + B / 2

def F2(A, B, C, C0):
    return -2 * (np.pi) * (np.pi) * B * B / 2

def F3(A, B, C, C0):
    return (A + C0) * (A + C0) + B * B / 2

def F(A, B, C, C0):
    u = (A, B, C, C0)
    return F0(*u), F1(*u), F2(*u), F3(*u)

Теперь напишем функцию активации и нейрон (функцию фитнеса)

In [18]:
def activation_func(x):
    return 1/(1 + np.exp(-x))

def fitness(A, B, C, C0):
    a = (A, B, C, C0)
    return activation_func(np.dot(F(*a), lam))

Теперь попробуем сгенерировать обучающую выборку ($A, B, C, C_0$), учтем условия ($A < 0$, $A - |B| > -C; A + |B| < 0$). N - число необходимых объектов

In [5]:
from random import randint
import pandas as pd

def gen_AB():
    A = randint(-C * 100, 0)
    B = (-1) ** randint(0, 2) * randint(0, min(-A * 100, (A + C * 100)))
    return A / 100, B / 100

def get_data_train(N):
    train_arr = []
    for i in range(N):
        a = gen_AB()
        while a in train_arr:
            a = gen_AB()
        train_arr.append(a)
    data = pd.DataFrame(columns=['A', 'B'], data = train_arr)
    data['C'] = C
    data['C0'] = C0
    return data

train_data = get_data_train(100)
train_data.head()

        A      B    C  C0
0  -46.76  65.32  140  60
1 -118.77   7.90  140  60
2  -65.10  -8.60  140  60
3   -1.45  91.96  140  60
4  -11.86   8.32  140  60

Итак, наша обучающая выборка `train_data` сформирована

Перед нами стоит задача ранжирования. Сведем её к задаче классификации. Посчитаем функцию фитнеса для каждого объекта и проведем классификацию: если $u, v$ - объекты выборки, то определим класс $y(u, v) = sgn(F(u) - F(v))$ для пары объекта $(u, v)$, а параметрами будут являться $F_0(u) - F_0(v), F_1(u) - F_1(v), F_2(u) - F_2(v), F_3(u) - F_3(v)$. Получаем разбиение на два класса для каждой пары объектов.

In [22]:
def get_pair(u, v):
    F = [F0(*u) - F0(*v), F1(*u) - F1(*v), F2(*u) - F2(*v), F3(*u) - F3(*v), np.sign(fitness(*u) - fitness(*v))]
    return F

def get_data_train_classifier(train_data):
    train_data_arr = []
    for i in range(len(train_data)):
        for j in range(i + 1, len(train_data)):
            F = get_pair(train_data.loc[i], train_data.loc[j])
            train_data_arr.append(F)
    train_data_classifier = pd.DataFrame(columns=['F_0', 'F_1', 'F_2', 'F_3', 'y'], data=train_data_arr)
    return train_data_classifier

data_train_classifier = get_data_train_classifier(train_data).query('y != 0')
data_train_classifier

         F_0      F_1            F_2         F_3    y
0      72.01  100.720  -41494.702775 -1176.46910  1.0
1      18.34   55.300  -41380.708844  2245.65880  1.0
2     -45.31  -58.630   41353.042369 -5347.77450 -1.0
3     -34.90   -6.400  -41427.467081   -43.42200  1.0
4     -11.43   29.005  -39724.169767  1579.13865  1.0
...      ...      ...            ...         ...  ...
4945   85.54  152.610 -135435.863525  8696.94940  1.0
4946  109.43  180.360 -132421.654758  6442.64450  1.0
4947   72.76  102.775  -16701.795608  1477.67965  1.0
4948   96.65  130.525  -13687.586842  -776.62525  1.0
4949   23.89   27.750    3014.208767 -2254.30490 -1.0

[4949 rows x 5 columns]

a = 10