# Идентификация функции приспособленности с использованием нейронных сетей

### План проекта

**To Do**

Роврвоы $x^i$
$$
R = \int\limits_0^1 \alpha E(x)\,dt - \int\limits_0^1 \beta (x')^2\,dt + \int\limits_0^1 \gamma S_x(x) (cos(2\pi t) + 1)\,dt  - \int\limits_0^1 \delta G(x)\,dt 
$$
$$
M_1 = \int\limits_0^1 E(x)\,dt = \int\limits_0^1 \delta_1(x+C)\,dt \\
M_2 =  - \int\limits_0^1 S_x(x) (cos(2\pi t) + 1)\,dt = - \int\limits_0^1  \delta_2(x+C)(cos(2\pi t) + 1)\,dt \\
M_3 = -\int\limits_0^1 (x')^2\,dt \\
M_4 = -\int\limits_0^1 G(x)\,dt = - \int\limits_0^1 (x + C_0)^2\,dt \\
$$

$ x = A + Bcos(2\pi t);$  $-C < x < 0$, где $C > 0 => -C < A + Bcos(2\pi t) < 0 $ 
Очевидно $A < 0$, $A - |B| > -C; A + |B| < 0$

$$
M_1 = \delta_1 (A+C) \\
M_2 = -\delta_2 (A + C + \frac{B}{2}) \\
M_3 = -\frac{(2\pi)^2 B^2}{2}\\
M_4 = -((A + C_0)^2 + \frac{B^2}{2})
$$

$$
\lambda_0 = \delta_1 \alpha = 0.1 \\
\lambda_1 = -\delta_2 \gamma = -1 \\
\lambda_2 = -\delta = -0.1 \\
\lambda_3 = -\beta = -0.000025
$$
$$R = \lambda_0  (A + C) + \lambda_1  (A + C + \frac{B}{2}) +  \lambda_2  \frac{(2\pi)^2 B^2}{2} + \lambda_3  ((A + C_0)^2 + \frac{B^2}{2}) = \lambda_0 F_0 + \lambda_1 F_1 + \lambda_2 F_2 + \lambda_3 F_3$$

### Генерация обучающей выборки

Зададим коэффициенты $\lambda$ и опишем функцию $R$

In [61]:
a = []
lam = [0.0003, -0.003, -0.0003, -0.000000075]
C0 = 60
C = 140

Напишем функции $F_0, F_1, F_2, F_3$

In [62]:
import numpy as np

def F0(A, B, C, C0):
    return A + C

def F1(A, B, C, C0):
    return A + C + B / 2

def F2(A, B, C, C0):
    return -2 * (np.pi) * (np.pi) * B * B / 2

def F3(A, B, C, C0):
    return (A + C0) * (A + C0) + B * B / 2

def F(A, B, C, C0):
    u = (A, B, C, C0)
    return F0(*u), F1(*u), F2(*u), F3(*u)

Теперь напишем функцию активации и нейрон (функцию фитнеса)

In [63]:
def activation_func(x):
    return 1/(1 + np.exp(-x))

def fitness(A, B, C, C0):
    a = (A, B, C, C0)
    return activation_func(np.dot(F(*a), lam))

Теперь попробуем сгенерировать обучающую выборку ($A, B, C, C_0$), учтем условия ($A < 0$, $A - |B| > -C; A + |B| < 0$). N - число необходимых объектов

In [64]:
from random import randint
import pandas as pd

def gen_AB():
    A = randint(-C * 100, 0)
    B = (-1) ** randint(0, 2) * randint(0, min(-A, A + C * 100))
    return A / 100, B / 100

def get_data_train(N):
    train_arr = []
    for i in range(N):
        a = gen_AB()
        while a in train_arr:
            a = gen_AB()
        train_arr.append(a)
    data = pd.DataFrame(columns=['A', 'B'], data = train_arr)
    data['C'] = C
    data['C0'] = C0
    return data

train_data = get_data_train(100)
train_data.head()

       A      B    C  C0
0 -94.16   9.46  140  60
1 -18.15   7.42  140  60
2 -28.82  10.89  140  60
3 -42.83 -19.04  140  60
4  -1.91  -0.40  140  60

Итак, наша обучающая выборка `train_data` сформирована

Перед нами стоит задача ранжирования. Сведем её к задаче классификации. Посчитаем функцию фитнеса для каждого объекта и проведем классификацию: если $u, v$ - объекты выборки, то определим класс $y(u, v) = sgn(F(u) - F(v))$ для пары объекта $(u, v)$, а параметрами будут являться $F_0(u) - F_0(v), F_1(u) - F_1(v), F_2(u) - F_2(v), F_3(u) - F_3(v)$. Получаем разбиение на два класса для каждой пары объектов.

In [65]:
def get_pair(u, v):
    F = [F0(*u) - F0(*v), F1(*u) - F1(*v), F2(*u) - F2(*v), F3(*u) - F3(*v), np.sign(fitness(*u) - fitness(*v))]
    return F

def get_data_train_classifier(train_data):
    train_data_arr = []
    for i in range(len(train_data)):
        for j in range(i + 1, len(train_data)):
            F = get_pair(train_data.loc[i], train_data.loc[j])
            train_data_arr.append(F)
    train_data_classifier = pd.DataFrame(columns=['F_0', 'F_1', 'F_2', 'F_3', 'y'], data=train_data_arr)
    return train_data_classifier

data_train_classifier = get_data_train_classifier(train_data).query('y != 0')
data_train_classifier

        F_0     F_1           F_2         F_3    y
0    -76.01 -74.990   -339.861801  -567.29930  1.0
1    -65.34 -66.055    287.210423   180.16295  1.0
2    -51.33 -37.080   2694.698090   735.58170 -1.0
3    -92.25 -87.320   -881.667553 -2162.87670  1.0
4    -32.29  -7.805  14523.601552   427.63445 -1.0
...     ...     ...           ...         ...  ...
4945  93.26  86.405  -5708.824939 -2980.48315  1.0
4946   0.72  -7.065  -6197.500635   355.35465  1.0
4947  16.35  39.280  -7866.536605 -1432.18610  1.0
4948 -76.19 -54.190  -8355.212302  1903.65170  1.0
4949 -92.54 -93.470   -488.675697  3335.83780  1.0

[4950 rows x 5 columns]

In [66]:
from sklearn.linear_model import Perceptron

X = data_train_classifier.drop('y', axis=1)
y = data_train_classifier['y']
model = Perceptron()
model.fit(X, y)
print(model.coef_)

[[-68811.58       -71704.405      -16918.38999879   -676.52155   ]]

a = 10